site_name: Translator Developer Documentation
site_url: https://ncatstranslator.github.io/TranslatorTechnicalDocumentation/
repo_url: https://github.com/NCATSTranslator/TranslatorTechnicalDocumentation

nav:
    - Welcome to Translator:
        - Overview: index.md
        - Frequently Asked Questions: faq.md
        - Glossary of Terms: glossary.md
        - License: license.md

    - Development Guide:
        - Overview: development-guide/index.md
        - Knowledge Graph Principles: architecture/biolink/knowledge_graphs.md
        - Translator Architecture: architecture/index.md
        - Quick Start: development-guide/quickstart.md
        - User Interface: architecture/ui.md
        - Autonomous Relay System: architecture/ars_usage.md
        - Workflow Runner: architecture/workflows.md
        - Translator Registry: architecture/registry.md
        - Autonomous Relay Agents:
            - Overview: architecture/ara/index.md
            - ARAX: architecture/ara/arax.md
            - BTE: architecture/ara/bte.md
        - Knowledge Providers:
            - Overview: architecture/kp/index.md
            - RTX-KG2: architecture/kp/rtx-kg2.md
            - Service Provider: architecture/kp/service-provider.md
        - Standards and Reference Implementation:
            - Overview: architecture/sri/index.md
            - Biolink Model: "https://biolink.github.io/biolink-model/"
            - Translator Reasoner API (TRAPI): architecture/sri/trapi.md
            - Evidence, Provenance & Confidence Metadata: architecture/sri/epc.md
        - Testing:
            - Overview: architecture/sri/testing/index.md
            - SRI Testing: architecture/sri/testing/sri_testing.md
        - Tutorials:
            - Overview: development-guide/tutorials/index.md
            - Workflow Tutorial: development-guide/tutorials/workflows.md
        - Cookbook: development-guide/cookbook.md
    - Deployment Guide:
        - Introduction: deployment-guide/index.md
        - Continuous Integration for Translator: deployment-guide/ci.md
        - Production Deployment: deployment-guide/deployment.md
        - Monitoring: deployment-guide/monitoring.md

extra_css:
  - stylesheets/extra.css

theme:
    name: "material"
    favicon: img/favicon.ico
    logo: img/favicon.ico
    icon:
        admonition:
        server: material/server
    language: en
    # Pick color: https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#primary-color
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: custom
          toggle:
              icon: material/weather-night
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: custom
          toggle:
              icon: material/weather-sunny
              name: Switch to light mode
    features:
        - navigation.indexes
        - navigation.footer
        - navigation.sections
        - navigation.top
        - navigation.tracking
        - content.code.copy
        - content.code.annotate
        - content.code.select
        - search.highlight
        - search.share
        - search.suggest
        - toc.follow

copyright: Copyright &copy; 2017-2023 Biomedical Data Translator<br>National Center for Advancing Translational Science

markdown_extensions:
    - admonition # Supported types: https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.details
    - pymdownx.extra
    - abbr
    - pymdownx.snippets:
        auto_append:
            - docs/includes/abbreviations.md
    - attr_list
    - smarty

plugins:
    - search
    - autorefs
    - glightbox:
        touchNavigation: true
        loop: false
        effect: zoom
        slide_effect: slide
        width: 100%
        height: auto
        zoomable: true
        draggable: true
        auto_caption: false
        caption_position: bottom

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/NCATSTranslator

watch:
    - docs
