site_name: Translator Developer Documentation
site_url: https://ncatstranslator.github.io/translator-developer-documentation/
repo_url: https://github.com/NCATSTranslator/translator-developer-documentation

nav:
    - Home:
        - Welcome: index.md
    - About:
        - About Translator: about/index.md
        - License: about/license.md
    - Frequently Asked Questions:
          - faq.md
    - Architecture:
        - Introduction: architecture/index.md
        - Knowledge Graph Principles: architecture/biolink/core_knowledge_graph_principles.md
        - User Interface: architecture/ui.md
        - Autonomous Relay System: architecture/ars.md
        - Workflow Runner: architecture/workflows.md
        - Translator Registry: architecture/registry.md
        - Autonomous Relay Agents:
          - Overview: architecture/ara.md
          - Biothings Explorer: "https://biothings.io/explorer/"
          - ARAX: architecture/ara/arax.md
        - Knowledge Providers:
          - Overview: architecture/kp.md
          - Service Provider: architecture/kp/service_provider.md
          - RTX-KG2: architecture/kp/rtx-kg2.md
        - Shared Standards and Tools:
          - Introduction: architecture/sri.md
          - Biolink Model: "https://biolink.github.io/biolink-model/"
          - Translator Reasoner API (TRAPI): architecture/trapi.md          
          - Evidence, Provenance & Confidence Metadata: architecture/epc.md
    - Developer Guide:
        - Introduction: guide-for-developers/index.md
        - Quick Start:
           - Overview: guide-for-developers/quickstart.md
           - "Hello Translator Jupyter Notebook": guide-for-developers/HelloTranslator.ipynb
        - Cookbook: guide-for-developers/cookbook.md
        - Tutorials:
            - Overview: guide-for-developers/tutorials/index.md
            - Workflows and Operations: guide-for-developers/tutorials/workflows.md
        - Testing:
            - Overview: guide-for-developers/testing.md
            - SRI Testing: guide-for-developers/sri_testing.md
        - The Full Monty...: guide-for-developers/details.md
    - Teams:
        - Expander Agent: teams/expander-agent.md

theme:
  name: readthedocs
  features:
    - navigation.footer

copyright: Copyright &copy; 2017-2023 Biomedical Data Translator<br>National Center for Advancing Translational Science

